@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

*
  {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  //color: #000 !important;
  }

:root
  {
  font-size: 16px;
  }

h2
  {
  font-size: 18px;
  display: inline-block;
  margin: 0 0 10px 0 !important;
  }

h3
  {
  font-size: 14px;
  display: inline-block;
  margin: 0 0 10px 0 !important;
  }

A, A:visited, .lcol A, .lcol A:visited
  {
  color: #000 !important;
  text-decoration: underline;
  }

A:hover, .lcol A:hover
  {
  color: #fff200 !important;
  text-decoration: underline;
  }

.delimg IMG
  {
  //border: 2px solid navy !important;
  width: 150px;
  height: 150px;
  overflow: hidden;
  }

.delimg IMG
  {
  max-width: 150px;
  max-height: 150px;
  }

.whitelinks A, .whitelinks A:visited, .whitelinks A:hover
  {
  color: #fff !important;
  text-decoration: none !important;
  }

.mainmenu
  {
  background: url('images/mm_bg.gif') repeat-x;
  height:18px;
  }

a.menu:link
	{
	color: #000000;
	text-decoration: none;
	}
a.menu:visited
	{
	color: #333333;
	text-decoration: none;
	}
a.menu:hover
	{
	color: #663300;
    background-color: #FFF8E1;
	text-decoration: underline;
	}

.attention
	{
	color: #fff200 !important;
	}

.admin_info
  {
  display: inline-block;
  background-color: #FFF8E1;
  border: 1px solid #D5C592;
  padding: 3px 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  }

a.menu
  {
  font-weight: bold;
  background-color: #D5C592;
  margin-top: 0px;
  width: 120px;
  border-style: solid;
  border-width: 0px;
  padding: 2px;
  }

.headline
  {
  font-size:14px;
  font-weight:bold;
  color:white;
  padding-top: 15px;
  }

.td_top_bg
  {
  height: 62px;
  background: url("images/adm_bluetex.gif");
  }

.mainmenu A, .mainmenu A:visited
  {
  text-decoration: none;
  }


.outer_box
  {
  float: left;
  text-align: center;
  font-size: 10px;
  margin: 15px 9px;
  border: 1px solid #ccc;
  xborder-radius: 5px;
  }

.img_box
  {
  background: #666;
  width: 150px;
  height: 150px;
  xbackground: green;
  clear: both;
  }

.info_box
  {
  font-size: 0.9rem;
  background: #ccc;
  width: 150px;
  height: 40px;
  padding: 15px 0px 5px 0;
  clear: both;
  overflow: hidden;
  }

.info_box SPAN
  {
  font-size: 0.75rem;
  }

.info_box INPUT
  {
  //border: 1px solid green;
  //zoom: 2;
  width: 20px;
  height: 20px;
  padding-top: -5px;
  //float: left;
  }

BODY, TEXTAREA, INPUT
  {
  //font-family: Verdana;
  font-size: 1rem;
  color: #000000;
  background: #fff;
  margin: 0px;
  }

TEXTAREA
  {
  width: 100%;
  height: 120px;
  max-height: 250px;
  }

.tableborder
 {
 border: 1px solid #999;
 }

TABLE
  {
  border-collapse: collapse;
  border-spacing: 0;
  }

TD
  {
  font-size: 9pt;
  color: #000000;
  }

.form_inputsection
  {
  padding: 0.4rem;
  padding-bottom: 0;
  margin-bottom: 0;

  //outline: 2px solid green;
  }

input[type='text']
  {
  //background: yellow;
  border: 1px solid #222;
  //border: none; !important;
  //outline: none; !important;
  }

.admin_chk
  {
  font-size: 1rem;
  //outline: 1px solid red !important;
  display: inline-block;
  //margin-left: 0.25rem;
  width: 100%;
  max-width: 100px;
  }

.admin_chk_long
  {
  font-size: 1rem;
  //outline: 1px solid red !important;
  display: block;
  }

.small
  {
  //font-family: Verdana;
  font-size: 8pt;
  color: #000000;
  }

.smalljust
  {
  //font-family: Verdana;
  font-size: 8pt;
  color: #000000;
  text-align: justify;
  }

.datatable TD
  {
  //font-size: 14px !important;
  color: #000 !important;
  }

.datatable TD
  {
  padding: 5px 5px;
  }

.datatable TR:hover, .datatable TD:hover
  {
  background: #0a84a4 !important;
  color: #fff !important;
  }

.datatable TR:nth-child(odd)
  {
  background: #EDEDED;
  }

.datatable TR:nth-child(even)
  {
  background: #f7f7f7;
  }

.xtablehead
  {
  font-size: 14px;
  font-weight : bold;
  background-color : #0f6f89;
  color: #FFFFFF;
  padding: 5px;
  border-bottom: 1px solid rgba(255,255,255,0.5);

  }

.tableheadtop, .tablehead, .datatable TR:nth-child(1)
  {
  font-size: 14px;
  font-weight: bold;
  background-color: #004A80;
  color: #FFFFFF !important;
  padding: 5px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a84a4+0,0f6f89+100 */
  background: #0a84a4; /* Old browsers */
  background: -moz-linear-gradient(top,  #0a84a4 0%, #0f6f89 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0a84a4 0%,#0f6f89 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0a84a4 0%,#0f6f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a84a4', endColorstr='#0f6f89',GradientType=0 ); /* IE6-9 */

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a84a4+0,0a84a4+40,0f778e+100 */
background: rgb(10,132,164); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(10,132,164,1) 0%, rgba(10,132,164,1) 40%, rgba(15,119,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(10,132,164,1) 0%,rgba(10,132,164,1) 40%,rgba(15,119,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(10,132,164,1) 0%,rgba(10,132,164,1) 40%,rgba(15,119,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a84a4', endColorstr='#0f778e',GradientType=0 ); /* IE6-9 */


border-bottom: 1px solid rgba(0, 0, 0, 0.1);
border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

.tableheadadmin
  {
  height: 40px;
  }

.tablehead A, .tablehead A:visited, .tableheadtop A, .tableheadtop A:visited
	{
	color: #FFFFFF !important;
	text-decoration: none;
    border: none;
	}

.tablehead A:hover, .tablehead A:active, .tableheadtop A:hover, .tableheadtop A:active
	{
	color: #fff200 !important;
	text-decoration: underline;
	}

.firstline
  {
  padding-top: 10px;
  }

.activestatus
  {
  text-align: center;
  font-size: 15px !important;
  color: #fff !important;
  padding: 0 5px 2px 5px;
  font-weight: bold;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  width: 40px !important;
  text-decoration: none !important;
  background: #008000;

	border: 1px solid #008000;
	background-image: linear-gradient(-180deg, #00CC00 0%, #006600 100%);

  }

.isactive
  {
  //background: #008000;
  }

.isactive:hover
  {
  background-image: linear-gradient(-180deg, #006600 0%, #009900 100%);
  padding: 1px 5px 1px 5px;
  outline: 2px solid #00CC00;
  }

.isinactive
  {
  background: #800000;
	border: 1px solid #800000;
	background-image: linear-gradient(-180deg, #CC0000 0%, #660000 100%);

  }

.isinactive:hover
  {
  background-image: linear-gradient(-180deg, #660000 0%, #990000 100%);
  padding: 1px 5px 1px 5px;
  outline: 2px solid #CC0000;
  }

.idx_red
           {
	   font-weight : bold;
	   color: #CC0000;
           }

.idx_yellow
           {
	   font-weight : bold;
	   color: #CC9900;
           }

.idx_green
           {
	   font-weight : bold;
	   color: #00CC00;
           }

.textfield
           {
           width: 600px;
           border: none !important;
           }

.textarea
           {
           width: 600px;
           //height: 100px;
           border: none !important;
           //outline: none !important;
           //outline: 1px solid red !important;
           }

TEXTAREA, .htmlfield
  {
  //display: block;
  height: 170px !important;
  //margin-top: 2rem;
  //padding-top: 0.5rem;
  //height: 500px;
  }

IFRAME
  {
  //outline: 3px solid cyan !important;
  //margin-top: 0.5rem;
  border: 1px solid #999 !important;
  }

#html_text_de, #html_text_en, #html_text_cz, #html_text_sk
  {
  border: none !important;
  //outline: none !important;
  background: #fff !important;

  //outline: 1px solid red !important;
  }


.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail IMG{
outline: 1px solid #0009;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: #fff;
padding: 3px 3px 0px 3px;
left: -1000px;
border: 1px solid gray;
visibility: hidden;
color: black;
text-decoration: none;
box-shadow: 0 2rem 2rem -0.5rem rgba(0,0,0,0.3);
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: -100px;
left: -300px; /*position where enlarged image should offset horizontally */
}

.thumbnail:hover span, .thumbnail:hover img
{ /*CSS for enlarged image on hover*/
visibility: visible;
top: -100px;
left: -300px; /*position where enlarged image should offset horizontally */
//outline: 3px solid magenta;
max-width: 15rem;
max-height: 15rem;
}

#adminchoice LABEL
  {
  font-weight: bold;
  }

#adminchoice SELECT
  {
  font-size: 16px;
  }

.topmenu_adminselect
  {
  background: yellow !important;
  font-weight: bold !important;
  }

.topmenu_toprow
  {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a84a4+0,0f6f89+100 */
  background: #0a84a4; /* Old browsers */
  background: -moz-linear-gradient(top,  #0a84a4 0%, #0f6f89 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0a84a4 0%,#0f6f89 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0a84a4 0%,#0f6f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a84a4', endColorstr='#0f6f89',GradientType=0 ); /* IE6-9 */
  }

.topmenu_spacer
  {
  width: 100px;
  }

.topmenu_logo
  {
  text-align: right;
  padding-right: 100px;
  }

.topmenu_bottomrow
  {
  background: #e5e5e5;
  }

.topmenu_newentry
  {
  position: relative;
  font-size: 15px;
  padding: 5px 0;
  }

.topmenu_newentry A
  {
  position: absolute;
  left: 0;
  top: 2.5rem;
  text-decoration: none;
  border: 1px solid #999;
  //transform: translatex(-1rem);
  border-radius: 3px;
  padding: 0.25rem 0.5rem 0.35rem 0.5rem;
  box-shadow: 0 0.3rem 0.35rem -3px rgba(0,0,0,0.1);
  //transition: all 0.25s;
  }

.topmenu_newentry A:hover, .topmenu_newentry A:active
  {
  color: #0f6f89;
  background: #0a84a4;
  transform: translateY(3px);
  transition: all 0.25s;
  box-shadow: none;
  }

.adminsection
  {
  border: 3px solid #fff200;
  border-radius: 3px;
  padding: 0 0.5rem;
  overflow: hidden;
  //border-left: 1px solid rgba(0,0,0,0.25);
  //border-top: 1px solid rgba(0,0,0,0.25);
  outline: none;
  background: #0f6f89;
  font-weight: bold;
  color: #fff200;
  }

.admin_begin .adminsection
  {
  margin-left: 0.5rem;
  padding: 0 1rem !important;
  font-size: 1.20rem !important;
  outline: 1px solid #eee;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.35)
  }

.admintable
  {
  width: 100%;
  max-width: 900px;
  }

.writedata
  {
  font-size: 120%;
  padding: 5px 30px;
  font-weight: bold;
  background: #0a84a4;
  }

.writedata A
  {
  color: #fff200 !important;
  text-decoration: none;
  }

.writedata A:hover
  {
  color: #fff !important;
  }

option:not(:checked) { color: black; font-weight:normal;background:#fff;}

.bool
  {
  text-align: center;
  width: 100px !important;
  border-radius: 3px;
  color: #fff;
  font-size: 110%;
  font-weight: bold;
  padding: 2px 10px;
  margin-left: 3px;
  display: inline-block;
  }

.boolyes
  {
  background: #008000;
  }

.boolno
  {
  background: #800000;
  }

.viewfield
  {
  font-size: 125%;
  font-weight: bold;
  }

.viewfield_boxed
  {
  //display: inline;
  font-weight: normal;
  font-size: 125%;
  //border: 1px solid #808080;
  margin: 5px 10px;
  }

TD < .viewfield
  {
  background: red;
  }

*
  {
  font-size: 1rem !important;
  }

.debug_table TD
  {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 0.25rem;
  }

.form_inputsection UL
  {
  border: 1px solid #808080;
  }

.form_inputsection UL, .form_inputsection LI
  {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  //outline: 1px solid blue;
  list-style: none;
  background: #fff;
  }

.form_inputsection LI
  {
  padding: 0;
  margin-bottom: 0.25rem;
  //padding-left: 0.2rem;
  padding-top: 0.2rem;
  //border-bottom: 1px solid #999;
  }

.checkmark
  {
  padding-left: 0.35rem !important;
  }

.checkmark LI::before {
  content: "\2713   ";
}

.halfwidth
  {
  //outline: 1px solid silver;
  max-width: 45%;
  }
